@mixin   button_style ($background:#111B47,$color:#FFFFFF,$border-radius:2px,$font-size: 12px,$width:160px,$height:26px,$border:none )  {
    background: $background;
    color: $color;
    border-radius: $border-radius;
    font-size: $font-size;
    width: $width;
    height: $height;
    border:$border; 
}
body{
    font-family: 'Roboto', sans-serif;
    
}
header{
    background-image: url(../img/designer_1.png);
    height: 1112px;
    background-repeat: no-repeat;
    background-position: right;
}
.header_navigation{
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    .header_button>button{
        @include  button_style;

    }
    .header_naw>a{
        font-size: 14px;
        line-height: 24px;
        color: #505F98;
        text-decoration: none;
    }
}
.header_info{
    padding-top: 160px;
    padding-left: 250px;
    .title{
        font-size: 50px;
        color: #091133;
    }
    .info{
        font-size: 18px;
        color: #505F98;
    }
    .btn1{
        background: #111B47;
        border-radius: 2px;
        color: #FFFFFF;
        height: 36px;
        width: 189px;
        border: none;
    }
    .btn2{
        height: 36px;
        width: 189px;
        border-radius: 2px;
        background: #E7ECFF;
    }
}
@media screen and (max-width:720px) {
    header{
        background-image: none;
        height: 0px;
    }
    .header_navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_info{
        display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
    }  
}
@mixin main_title ($color: #091133,$font-size: 36px,) {
    color: $color;
    font-size: $font-size;
}
@mixin main_paragraph ($color: #abb2cf,$font-size: 16px,) {
    color: $color;
    font-size: $font-size;
}
.main_info{
    padding-top: 160px;
    padding-left: 250px;
    .main_info1>h4{
        @include main_title;
    }
    .main_info1>p{
        @include main_paragraph;
    }
}
@mixin info_title ($color: #091133,$font-size: 16px,) {
    color: $color;
    font-size: $font-size;
}
@mixin info_paragraph ($color: #5D6970,$font-size: 12px,) {
    color: $color;
    font-size: $font-size;
}
.main_info2{
    padding-top: 60px;
    display: flex;
    .card1>h6{
        @include info_title;
        .card2>p{
            @include info_paragraph;
        }
    }
    .card2>h6{
        @include info_title;
        .card2>p{
            @include info_paragraph;
        }
    }
    .card2{
        padding-left: 30px;
    }
}
.main_info{
    background-image: url(../img/undraw_mobile_login_ikmv.svg);
    background-repeat: no-repeat;
    background-position: center right;
}
@media screen and (max-width:720px) {
    .main_info{
        padding-top: 530px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        background-image: none;
        text-align: center;
    }
    .img_section{
        display: flex;
        flex-direction: column;
    }
    .img1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@mixin flex ($display:flex,$justify-content:space-evenly,$align-items:center) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}
.img1{
    @include flex;
    padding-top: 300px;
    .img1_text>h4{
        @include main_title;
    }
        .img1_text>p{
            @include main_paragraph;
        }  
}
.price{
    text-align: center;
    background: rgba(231, 236, 255, 0.5);
    mix-blend-mode: normal;
    margin-top: 300px;
    padding-top: 100px;
    height: 550px;

    h4{
        @include main_title;
    }
    p{
        @include main_paragraph;
    }
    .small{
        font-size: 14px;
        color: #5D6970;
    }
    button{
        height: 32px;
        width: 189px;
        background: #111B47;
        border-radius: 2px;
        color: #FFFFFF;
        border: none;
    }
}
footer{
    background: #E7ECFF;  
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 14px;
        line-height: 24px;
        color: #939EA4;
    }
    button{
        width: 109px;
        height: 26px;
        background: #111B47;
        border-radius: 2px;
        border: none;
        color: #FFFFFF;
    }
}
}
footer{
    height: 216px;
    .footer1{
        padding-top: 60px;
    }
.footer2{
    display: flex;
    justify-content: space-around;
    a{
        font-size: 14px;
        line-height: 24px;
        color: #505F98;
        text-decoration: none;
} 
}
}
@media screen and (max-width:720px) {
    .footer1{
        display: flex;
        flex-direction: column

    }
    .footer2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}